.git/
.vscode/**
.vscode-test/**
.version
src/
out/
images/
changelog.md
Makefile
esbuild.js
.github
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
